$success:#76BA1B;
$warning: rgb(94, 94, 9);
$error: #ff8d8d;

$green: #72FF13;
$primary-green:#50cd89;
$dark-green:#46b779;
$light-green:#e8fff3;
$yellow:#ffff00;
$nav-yellow:#ffcf5c;
$gray:#F6F6F6;
$primary-gray:rgb(100 116 139);
$dark-gray:rgb(71 85 105);
$blue:#1a73e8;
$dark-blue:#1455ac;
$primary-blue:#009ef7;
$light-blue:#f1faff;
$dark-red:#FF5C5C;
$primary-red:#f1416c;
$light-red:#fff5f8;
$primary-yellow:#FFC700;
$light-yellow:#FFF8DD;
