$success:#BCFB9F;
$warning: rgb(94, 94, 9);
$error: #ff8d8d;

$green: #43D100;
$primary-green:#50cd89;
$light-green:#e8fff3;
$yellow:#ffff00;
$nav-yellow:#ffcf5c;
$gray:#F6F6F6;
$blue:#1a73e8;
$dark-blue:#1455ac;
$primary-blue:#009ef7;
$light-blue:#f1faff;
$dark-red:#FF5C5C;
$primary-red:#f1416c;
$light-red:#fff5f8;
