.btn-container{
    max-width: 100%;
    position: relative;
}
.success-btn{
    display: block;
    width: 85%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;

    @media only screen and (max-width : 768px) {
        width: 90%;
    }
}

.success-btn:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #27ae60;
    z-index: -1;
    border-radius: 5px;
    transform: translateX(0);
}
.success-btn:active{
    transform: translateY(5px);
}
.success-btn:active::before{
    transform: translateY(0);
}
.success-btn:focus{
    outline: none;
}


.form-btn{
    display: block;
    width: 50%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    float: right;
    position: relative;

    @media only screen and (max-width : 768px) {
        width: 100%;
    }
}

.form-btn:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-blue;
    z-index: -1;
    border-radius: 5px;
    transform: translateX(0);
}
.form-btn:active{
    transform: translateY(5px);
}
.form-btn:active::before{
    transform: translateY(0);
}
.form-btn:focus{
    outline: none;
}


.add-user-btn{
    display: block;
    width: 50%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    float: right;
    position: relative;

    @media only screen and (max-width : 768px) {
        width: 100%;
    }
}

.add-user-btn:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-blue;
    z-index: -1;
    border-radius: 5px;
    transform: translateX(0);
}
.add-user-btn:active{
    transform: translateY(5px);
}
.add-user-btn:active::before{
    transform: translateY(0);
}
.add-user-btn:focus{
    outline: none;
}

.cancel-btn{
    display: block;
    width: 85%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;

    @media only screen and (max-width : 768px) {
        width: 90%;
    }
}

.cancel-btn:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    border-radius: 5px;
    transform: translateX(0);
}
.cancel-btn:active{
    transform: translateY(5px);
}
.cancel-btn:active::before{
    transform: translateY(0);
}
.cancel-btn:focus{
    outline: none;
}


// Explore
.explore-btn{
    display: block;
    width: 85%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    border: 2px solid $success;

    @media only screen and (max-width : 768px) {
        width: 90%;
    }
}

.explore-btn:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #27ae60;
    z-index: -1;
    border-radius: 5px;
    transform: translateX(0);
}
.explore-btn:active{
    transform: translateY(5px);
}
.explore-btn:active::before{
    transform: translateY(0);
}
.explore-btn:focus{
    outline: none;
}

.back-btn{
    display: block;
    width: 50%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    float: right;
    position: relative;

    @media only screen and (max-width : 768px) {
        width: 100%;
    }
}

.back-btn:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $error;
    z-index: -1;
    border-radius: 5px;
    transform: translateX(0);
}
.back-btn:active{
    transform: translateY(5px);
}
.back-btn:active::before{
    transform: translateY(0);
}
.back-btn:focus{
    outline: none;
}