// Typography
.h1 {
    @apply text-4xl font-extrabold tracking-tighter;
}

.h2 {
    @apply text-3xl font-extrabold tracking-tighter;
}

.h3 {
    @apply text-3xl font-extrabold;
}

.h4 {
    @apply text-2xl font-extrabold tracking-tight;
}


@screen md {
    .h1 {
        @apply text-5xl;
    }

    .h2 {
        @apply text-4xl;
    }
}

// Buttons
.btn,
.btn-sm,
.btn-xs {
    @apply font-medium text-sm inline-flex items-center justify-center border border-transparent rounded leading-5 shadow-sm transition duration-150 ease-in-out;
}

.btn {
    @apply px-2.5 py-2;
}

.btn-sm {
    @apply px-2 py-1;
}

.btn-xs {
    @apply px-2 py-0.5;
}

// Forms
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply text-sm text-gray-800 bg-white border;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
    @apply rounded;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply leading-5 py-2 px-3 border-gray-200 hover:border-gray-300 focus:border-indigo-300 shadow-sm;
}

.form-input,
.form-textarea {
    @apply placeholder-gray-400;
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply text-indigo-500 border border-gray-300;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.border-radius-10{
    border-radius: 10px;
}
label{
    color: #5f5e5e
}
.w-50vh{
    width: 50vw;
}
.h-60vh{
    height: 50vh;
}
.height-20vh{
    height: 20vh;
}
.min-height-20vh{
    min-height: 20vh;
}
.min-height-60vh{
    min-height: 60vh;
}
.min-height-8rem{
    min-height: 8rem;
}
.object-fit{
    object-fit: cover;
}
input:focus, textarea:focus{
    outline: none !important;
    border: 1px solid rgb(136, 135, 135) !important;
    --tw-ring-color: none !important;
}
.success{
    color: $success;
}
.warning{
    color: $warning;
}
.error{
    color: $error;
}
.dark-red{
    color: $dark-red;
}

.green{
    color: $green;
}
.primary-green{
    color: $primary-green;
}
.light-green{
    color: $light-green;
}
.dark-blue{
    color: $dark-blue;
}

.bg-success{
    background-color: $success;
}
.bg-warning{
    background-color: $warning;
}
.bg-error{
    background-color: $error;
}
.bg-dark-red{
    background-color: $dark-red !important;
}

.bg-green{
    background-color: $green !important;
}
.bg-primary-green{
    background-color: $primary-green !important;
}
.bg-light-green{
    background-color: $light-green !important;
}
.bg-primary-gray {
    background-color: $primary-gray !important;
}
.bg-blue{
    background-color: $blue;
}
.color-white{
    color: white !important;
}

.success-border{
    border: 2px solid $primary-green !important;
}


.link{
    color: #1a73e8!important;
}
.link:hover {
    font-weight: 500;
}
.nav-yellow{
    // background-color: $nav-yellow;
    background-color: $primary-green;
}

.bg-body{
    background-color: $gray;
}

.min-height-50{
    min-height: 50vh;
}
.width-30{
    width: 30vm;
}

.view-button{
    border-radius: 10px !important;
    border-color: 1px solid $dark-blue !important;
    border: 1px solid $dark-blue !important;
    cursor: pointer;
}
.view-button:focus{
    outline: none;
}

.edit-button{
    border-radius: 10px !important;
    border-color: 1px solid $primary-green !important;
    border: 1px solid $primary-green !important;
    cursor: pointer;
}
.edit-button:focus{
    outline: none;
}

.delete-button{
    border-radius: 10px !important;
    border-color: 1px solid $error !important;
    border: 1px solid $error !important;
    cursor: pointer;
}
.delete-button:focus{
    outline: none;
}


/* -------------------------React Modal ------------------------------- */
.ReactModal__Overlay {
    // opacity: 0;
    // transform: translateX(100px);
    // transition: all 500ms ease-in-out;
    background-color:"rgba(31, 30, 30, 0.2)",
}
  
.ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
    z-index: 30;
}
  
.ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(100px);
}
  .ReactModal__Html--open,
  .ReactModal__Body--open {
    overflow: hidden; /* prevents background page from scrolling when the modal is open */
  }
  .ReactModal__Content {
    background: white;
    width: 50rem;
    max-width: calc(100vw - 2rem);
    max-height: calc(100vh - 2rem);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    overflow-y: auto;
}

.MuiBox-root-9, .MuiBox-root-23, .MuiBox-root-21, .MuiBox-root-29{
    padding: 0 !important;
}


.width-100-rem{
    width: 100rem;
}

// CKEditor
.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}

.ck.ck-content ul {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}

.ck.ck-content ol,
.ck.ck-content ol li {
  list-style-type: decimal;
}
.ck.ck-content ol {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}

.product_file_input{
    background-color: #E3F2FD;
    color: black;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}
.product_img{
    width: 120px;
    height: 70px;
}
.checkbox_size{
    width: 14px;
    height: 14px;
}
.circular_progress{
    position: relative;
    width: 100%;
    height: 100vh;
}
  
.progress_container{
    position: absolute;
    left: 50%;
    top: 20%;
    color:$primary-green;
}

// youtube player
.player-wrapper {
    position: relative;
    padding-top: 32.25%; /* Player ratio: 100 / (1280 / 720) */

    @media screen and (max-width: 700px) {
        padding-top: 56.25%;
    }
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}


.error__header {
    color: $error;
    font-size: 2.5rem;
}

.app_footer {
    text-align: center;
    background-color: $gray;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
  }
  .content-wrap {
    flex: 1;
  }

  .badge {
    display: inline-block;
    padding: .325rem .5rem;
    font-size: .85rem;
    line-height: 1;
    color: rgb(71 85 105);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .325rem;
    align-items:"center"
}
.badge_light_primary {
    color: $primary-blue;
    background-color: $light-blue;
    font-weight: 600;
}

.badge_light_green {
    color: $primary-green;
    background-color: $light-green;
    font-weight: 600;
}

.badge_light_primary_hover {
    color: $dark-blue;
    background-color: $light-blue;
    font-weight: 800;
}
.badge_light_danger {
    color: $primary-red;
    background-color: $light-red;
    font-weight: 600;
}
.badge_light_success {
    color: $primary-green;
    background-color: $light-green;
    font-weight: 600;
}

.badge_light_info {
    color: $primary-yellow;
    background-color: $light-yellow;
    font-weight: 600;
}
.group{
    outline: none !important;
}